<div class="container">
    <h1>Here is a list of my websites i have created</h1>
    <ul>
        {{#each options}}
        <li><a href={{this.link}}>{{this.name}}</a></li>
        {{/each}}
    </ul>
</div>
